/* Alap beállítások */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #161616;
    overflow: hidden;
}


/* Canvas mindig a háttérben */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* háttér */
}

/* Főoldal gomb */
.btn {
     position: absolute;
    top: 8%; /* kicsit a közép fölé */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    border-radius: 12px;
    background-color: #333;
    font-size: 1.1rem;
}

/* Háttér (gomb maga) */
.btn::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0; /* top,left,right,bottom = 0 */
    background-color: #333;
    border-radius: 12px;
}

/* Fényudvar a gomb KÖRÜL */
.btn::before {
    content: "";
    position: absolute;
    z-index: -2; /* a gomb mögé kerül */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 5px);  /* jóval nagyobb, hogy körbevilágítson */
    height: calc(100% + 5px);
    border-radius: 50px;
    background: linear-gradient(
        45deg,
        #ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#ff00c8,#ff0000
    );
    background-size: 600%;
    filter: blur(25px); /* nagy blur, lágy fénykör */
    opacity: 0;
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
}

/* Hoverkor felgyullad */
.btn:hover::before {
    opacity: 1;
}

/* Nyomáskor */
.btn:active::after {
    background: transparent;
}
.btn:active {
    color: black;
    font-weight: bold;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Carousel */
.carousel-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 120px auto 0 auto; /* gomb alatt */
    perspective: 1000px;
    z-index: 10; /* canvas fölé */
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


/*nyilak*/
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 20;
}

.arrow.left { left: -50px; }
.arrow.right { right: -50px; }
.arrow:hover { background: rgba(255,255,255,0.3); }
