body {
  background: linear-gradient(45deg, #0a0b0f, #59e4e7);
}
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
   
}


/* Carousel */
.carousel-container {
  position: relative;
  width: 450px;   /* nagyobb doboz */
  height: 450px;
  margin: 120px auto 0 auto;
  perspective: 1000px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.carousel-item {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1.25); /* nagyobb aktív méret */
  z-index: 5;
}

.carousel-item img {
  width: 1000px;     /* ténylegesen nagyobb kép */
  height: 1000px;
  object-fit: contain;
  border-radius: 15px;
}
.carousel-item a {
  display: inline-block;
}
.carousel-item img {
  cursor: pointer;
}


/* nyilak */
.arrow {
  position: absolute;
  bottom: -80px;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  z-index: 20;
  transition: background 0.3s;
}

.arrow.left {
  left: -150px; /* 🔹 kijjebb a bal nyíl */
}

.arrow.right {
  right: -150px; /* 🔹 kijjebb a jobb nyíl */
}


.arrow:hover {
  background: rgba(255,255,255,0.3);
}
